@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik:700&display=swap');

:root{
  --blue: #0080BB;
  --dark-blue: #13294B;
  --gold: #DAAA00;
  --max-width-laptop: 850px;
  --max-width-desktop: 1000px;
}

body{
  overflow-x: hidden;
}

h1, h2, h3, h4{
  font-family: 'Rubik', sans-serif;
}