:root{
  --blue: #0080BB;
  --dark-blue: #13294B;
  --gold: #DAAA00;
  --max-width-desktop: 1200px;
}

@font-face{
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}

body{
  font-family: 'Open Sans', sans-serif;
}